## Define a class

In [6]:
class Person:
    
    def __init__(self,name,age,occupation,stay):
        self.name=name
        self.age=age
        self.occupation=occupation
        self.stay=stay
        
    def talk(self):
        print(f'My name is {self.name} and age is {self.age}')
        print(f'I live at {self.stay}')
        print(f'I worked in the {self.occupation}')
        
    def work(self,n):
        print(f'I am currently working at {self.occupation}')
        print(f'I am working since last {n} years.')

In [7]:
p=Person('mansi',23,'developer','mumbai')

In [8]:
p.talk()

My name is mansi and age is 23
I live at mumbai
I worked in the developer

In [10]:
p.work(3)

I am currently working at developer
I am working since last 3 years.

## Bank Example

In [22]:
class Bank:
    
    def __init__(self,account_number,account_name,balance):
        self.account_number=account_number
        self.account_name=account_name
        self.balance=balance
        
    def withdrawal(self,amount):
        
        if amount< self.balance  :
            self.balance=self.balance - amount
        return f'Amount Withdrawal is {amount}.The updated balance is {self.balance}'
    
    def deposite(self,deposite_amount):
        
        self.balance=self.balance + deposite_amount
        
        return f'Amount deposite is {deposite_amount}.The Updated balance is {self.balance}'
    
    def transfer(self,transfer_amount,transfer_account_number):
        
        self.balance=self.balance - transfer_amount
        
        return f'Transfer balance is {transfer_amount}.The transfer account number {transfer_account_number}'

In [23]:
b=Bank(23456876678,'mansi',90000)

In [24]:
b.withdrawal(2000)

'Amount Withdrawal is 2000.The updated balance is 88000'

In [25]:
b.deposite(10000)

'Amount deposite is 10000.The Updated balance is 98000'

In [26]:
b.transfer(20000,89765433)

'Transfer balance is 20000.The transfer account number 89765433'