## Define a class

In [6]:
class Person:
    
    def __init__(self,name,age,occupation,stay):
        self.name=name
        self.age=age
        self.occupation=occupation
        self.stay=stay
        
    def talk(self):
        print(f'My name is {self.name} and age is {self.age}')
        print(f'I live at {self.stay}')
        print(f'I worked in the {self.occupation}')
        
    def work(self,n):
        print(f'I am currently working at {self.occupation}')
        print(f'I am working since last {n} years.')

In [7]:
p=Person('mansi',23,'developer','mumbai')

In [8]:
p.talk()

My name is mansi and age is 23
I live at mumbai
I worked in the developer

In [10]:
p.work(3)

I am currently working at developer
I am working since last 3 years.

## Bank Example

In [22]:
class Bank:
    
    def __init__(self,account_number,account_name,balance):
        self.account_number=account_number
        self.account_name=account_name
        self.balance=balance
        
    def withdrawal(self,amount):
        
        if amount< self.balance  :
            self.balance=self.balance - amount
        return f'Amount Withdrawal is {amount}.The updated balance is {self.balance}'
    
    def deposite(self,deposite_amount):
        
        self.balance=self.balance + deposite_amount
        
        return f'Amount deposite is {deposite_amount}.The Updated balance is {self.balance}'
    
    def transfer(self,transfer_amount,transfer_account_number):
        
        self.balance=self.balance - transfer_amount
        
        return f'Transfer balance is {transfer_amount}.The transfer account number {transfer_account_number}'

In [23]:
b=Bank(23456876678,'mansi',90000)

In [24]:
b.withdrawal(2000)

'Amount Withdrawal is 2000.The updated balance is 88000'

In [25]:
b.deposite(10000)

'Amount deposite is 10000.The Updated balance is 98000'

In [26]:
b.transfer(20000,89765433)

'Transfer balance is 20000.The transfer account number 89765433'

## Class attributes

In [27]:
class student_primary:
    
    section_a=78
    section_b=88
    
    class_teachar_a='riya'
    class_teacher_b='priya'
    
    def welcome():
        print("This is primary class Student")

In [28]:
s=student_primary()

In [29]:
s.class_teachar_a

'riya'

In [30]:
s.class_teacher_b

'priya'

In [31]:
s.section_a

78

In [32]:
s.section_b

88

## using of class attrubutes using @classmethod

In [ ]:
class stud:
    
    # class Attributes
    class_a=12
    class_b=34
    class_teacher_a='meena'
    class_teacher_b='Reena'
    
    @classmethod
    def welcome(cls):
        print(f'The student of class a is {cls.class_a}. and class teacher is {cls.class_teacher_a}')

In [34]:
s=stud()

In [35]:
s.welcome()

The student of class a is 12. and class teacher is meena

In [36]:
class car:
    
    # define class attributes
    
    greeting="welcome to the car worlds."
    
    # define instance attributes
    def __init__(self,manufacture,price):
        self.manufacture=manufacture
        self.price=price
        
    def hrundai_model_info(self):
        return "we will different models for this manufactures like hrundai."
    
    def maruti_model_info(self):
        return "we will different models for this manufactures like maruthi."
    
    @classmethod
    def welcome(cls):
        print(cls.greeting)

In [37]:
e1=car('hrundai',756600)

In [38]:
e1.hrundai_model_info()

'we will different models for this manufactures like hrundai.'

In [40]:
e1.greeting

'welcome to the car worlds.'